{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


<section id="title">
    <div class="title_name">학교안에서 <br /> 길찾기 어려우셨죠?</div>
    <p>코WAY가 당신의 길을 책임져드립니다</p>
</section>

<section id="main_img">
    <img src="../image/임시.png" alt="메인 코끼리 사진">
</section>
<section id="main_btn">
    <div> <a href="../simba_road/road_choice.html">길 찾기</a></div>
    <div> <a href="../simba_conv/convenience.html">편의시설 안내</a></div>
    <div> <a href="../simba_stamp/stamp_cafe.html">도장콕</a></div>
</section>

{% endblock %}