{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/myhome/edit.css' %}">

<section id="title">
    <div class="back_icon"> <a href="./home.html"><i class="fas fa-chevron-left"></i></a></div>
    <div class="title_name">프로필 편집</div>
</section>

<section id="my_kiri">
    <img src="" alt="내 코끼리 사진">
</section>

<section id="items">
    <div>아이템</div>
    <div>아이템</div>
    <div>아이템</div>
    <div>아이템</div>
    <div>아이템</div>
    <div>아이템</div>
    <div>아이템</div>
    <div>아이템</div>
</section>

<section id="edit">
    <a href="edit.html"><input type="button" id="edit_btn" value="편집 완료"></a>
</section>

{% endblock %}