{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/myhome/home.css' %}">

<section id="title">
    <div class="back_icon"> <a href="../simba_main/main.html"><i class="fas fa-chevron-left"></i></a></div>
    <div class="title_name">abc@dgu.ac.kr</div>
</section>

<section id="my_kiri">
    <img src="" alt="내 코끼리 사진">
</section>

<section id="edit">
    <a href="edit.html"><input type="button" id="edit_btn" value="프로필 편집"></a>
</section>

<section id="plus">
    <a href="ask.html"><input type="button" id="ask_btn" value="1:1 문의"></a>
    <a href=""><input type="button" id="logout_btn" value="로그아웃"></a>
</section>

{% endblock %}