#title{
    height: 10vh;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 5vh;
    margin: 0 10px;
}
.back_icon{
    float: left;
}

#stp_nav{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 25px;
    padding-bottom: 5vh;
    color: #616161;
}
#stp_nav div{
    width: 80%;
    height: 50px;
    font-size: 1.3em;
    text-align: center;
    padding-top: 15px;
    border: none;
    border-bottom: 3px solid rgba(255, 193, 72, .3);
}

#stp_board{
    width: 100%;
    height: 350px;
    font-size: 3.2em;
    text-align: center;
    padding-top: 4px;
    justify-content: space-around;
    background-color: white;
    border: 3px solid #FFC148;
    border-radius: 20px;
    margin-bottom: 5vh;
}
.fa-circle{
    padding: 17px 5px;
    color: #EFEFEF;
}
.line1 .fa-circle:nth-child(1){
    color: #1FC530;
}

#stp_btn {
    width: 40%;
    height: 45px;
    font-size: 1.3em;
    text-align: center;
    background-color: white;
    border: 3px solid #FFC148;
    border-radius: 15px;
    margin: 0 30vw;
    margin-bottom: 5vh;
    padding: 7px;
}