#title{
    height: 10vh;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 5vh;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
.title_name{
    margin: 0 40px;
}

#map{
    height: 67vh;
    width: 100vw;
    padding-top: 7vh;
}
#map img{
    height: 90%;
    width: 100%;    
    border: 1px solid #FFC148;
}